/**
  *	default color code
  *	f28b00
*/

.loading-effect-2>span,
.loading-effect-2>span:before,
.loading-effect-2>span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #7DAC44;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}