/*--------------------------------------------------------------


Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/


/* ----------------------------------------------------
You can put your custom css code here:
-------------------------------------------------------*/


/* red color code #ff1744 */

.border-left::before {
    background: #ff1744 none repeat scroll 0 0
}

.copyright-text p a:hover {
    color: #ff1744;
}

.main-menu>li:hover>a {
    color: #ff1744;
}

.dropdwn>li:hover>a {
    color: #ff1744;
}

.single-mega-item>li:hover>a {
    color: #ff1744;
}

.sticky .main-menu>li:hover>a {
    color: #ff1744;
}

.del-icon>a:hover>i {
    color: #ff1744;
}

.main-menu>li>a::before,
.dropdwn li a:before,
.single-mega-item li a:before {
    background: #fc6c88 none repeat scroll 0 0;
}

.submit-btn-1 {
    background: rgb(255, 23, 68) none repeat scroll 0 0;
}

a:focus,
a:hover {
    color: #ff1744;
}

.pro-tab-menu ul li a.active {
    border-bottom: 1px solid #ff1744;
}

.action-button>li:hover>a {
    background: #ff1744;
    border-color: #ff1744;
}

.header-search-inner::before {
    display: none;
}

strong.webor:after {
    color: #cf0000;
    content: " | ";
}

.mark,
mark {
    background: #ff1744 none repeat scroll 0 0;
    color: #fff;
}

span.tooltip-content {
    color: #ff1744;
}

a.button {
    background: #ff1744;
}

.text-theme {
    color: #ff1744;
}

textarea:focus {
    border-color: #ff1744;
}

.btn-hover-2::before {
    background: #ff1744 none repeat scroll 0 0;
}

.slick-arrow-1 .slick-arrow:hover {
    color: #ff1744;
}

.slick-arrow-2 .arrow-prev.slick-arrow:hover,
.slick-arrow-2 .arrow-next.slick-arrow:hover {
    color: #ff1744;
    border-color: #ff1744;
}

.slick-arrow-3 .arrow-prev.slick-arrow:hover,
.slick-arrow-3 .arrow-next.slick-arrow:hover {
    color: #ff1744;
}

.slick-dots-1 .slick-dots li.slick-active {
    background: #ff1744;
}

.quick-add-to-cart .single_add_to_cart_button:hover {
    background: #ff1744 none repeat scroll 0 0;
}

#scrollUp:hover {
    background: #ff1744 none repeat scroll 0 0;
}

.theme-bg {
    background: #ff1744;
}

.user-meta>li>ul>li>a:hover {
    color: #ff1744;
}

.dropdwn>li .dropdwn-repeat li:hover>a {
    color: #ff1744;
}

.footer-menu li:hover a,
.footer-menu li:hover a i {
    color: #ff1744;
}

.footer-menu li.active a,
.footer-menu li.active a i {
    color: #ff1744;
}

.footer-menu-2 li::before {
    background: #ff1744 none repeat scroll 0 0;
}

.nivo-controlNav a.active {
    background: #ff1744 none repeat scroll 0 0;
}

.mean-container .mean-nav ul li a:hover {
    color: #ff1744;
}

.banner-button a:hover {
    color: #ff1744;
}

.product-item-2 .action-button>li:hover>a {
    color: #ff1744;
}

.pro-tab-menu-2 ul li a.active::before {
    background: #ff1744 none repeat scroll 0 0;
}

.breadcrumb-list>li:hover::before {
    color: #ff1744;
}

.breadcrumb-list>li:hover>a {
    color: #ff1744;
}

.shop-tab li a.active {
    color: #ff1744;
}

.shop-pagination>li.active a,
.shop-pagination>li:hover a {
    border-color: #ff1744;
    color: #ff1744;
}

.widget-search button:hover {
    color: #ff1744;
}

.product-cat .treeview .collapsable>a {
    color: #ff1744;
}

.product-cat .treeview .open>a {
    color: #ff1744;
}

.ui-slider .ui-slider-range {
    background: #ff1744 none repeat scroll 0 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #ff1744 none repeat scroll 0 0;
}

.widget-color ul li::before {
    background: #ff1744 none repeat scroll 0 0;
}

.p-c a.active img {
    border: 1px solid #ff1744;
}

.product-remove a:hover {
    color: #ff1744;
}

.widget-tags-list li:hover a {
    color: #ff1744;
}

.blog-like-share li a:hover {
    color: #ff1744;
}

.reply-delate li:hover a {
    color: #ff1744;
}

.bg-shape:hover:before {
    background: #ff1744 none repeat scroll 0 0;
}

.contact-address:hover i {
    background: #ff1744 none repeat scroll 0 0;
}

.quote-border::before {
    background: #cf0000 none repeat scroll 0 0;
}

.main-menu>li>a,
.dropdwn li a,
.single-mega-item li a {
    position: relative;
}

.main-menu>li>a.active,
.dropdwn li a.active,
.single-mega-item li a.active {
    color: #ff1744;
}

.custom-header .sticky {
    background: rgba(246, 246, 246, 0.99) none repeat scroll 0 0;
}

@media only screen and (min-width: 992px) {
    .make-me-sticky {
        position: fixed;
        width: 22%;
        top: 15%;
    }
}

.call-us p span.address:after {
    color: #ddd;
    content: " | ";
}

.google-map iframe {
    height: 300px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}

.product-cat div.hitarea.expandable-hitarea i:before {
    content: '\f278';
    font-size: 16px;
    font-weight: 900;
    color: #ff1744;
}

.product-cat div.hitarea.collapsable-hitarea i:before {
    content: '\f273';
    font-size: 16px;
    font-weight: 900;
    color: #ff1744;
}

.product-cat div.hitarea i,
.product-cat li.lastCollapsable div.hitarea i,
.product-cat li.lastExpandable div.hitarea i {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.product-cat .hitarea {
    cursor: pointer;
    height: unset;
    left: 10px;
    position: relative;
    top: 20px;
    width: unset;
    display: flex;
    justify-content: end;
}

.product-cat .treeview .collapsable label>a {
    color: #ff1744;
}

.check-with-label:checked+a {
    font-weight: bold;
    color: #ff1744;
}

.check-with-label:checked+span {
    font-weight: bold;
    color: #ff1744;
}

input.check-with-label {
    margin-bottom: 3px;
}

.operating-system input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0;
}

.attribute-value-title {
    color: #666666;
}

.attribute-title,
.primary-category-title {
    cursor: pointer;
    transition: 0.4s;
}

.attribute-title:after,
.primary-category-title:after {
    /* Unicode character for "plus" sign (+) */
    content: "\02795";
    font-size: 13px;
    color: #ff1744;
    float: right;
    margin-left: 5px;
}

.attribute-title.active:after,
.primary-category-title.active:after {
    /* Unicode character for "minus" sign (-) */
    content: "\2796";
}

.panel,
.product-cat {
    display: none;
}

#loading {
    text-align: center;
    background: url('../../../webor/loader.gif') no-repeat center;
    height: 150px;
}

a.attribute-value-title.active {
    color: #ff1744;
}

.breadcrumb li{
    color:#575757;
}

.breadcrumb li.active{
    font-weight: 600;
}

.breadcrumb>li+li:before {
    color: #686464;
}
